@import url(index.css);

/* Light mode Desktop */
.header {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}

.header .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
 
}

.header .container h1 {
  font-size: 24px;
}

.header .theme-mode {
  cursor: pointer;
}

.header span {
  font-weight: 600;
  font-size: 16px;
  margin-left: 5px;
  letter-spacing: -1px;
}

.home .search-filter {
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

.home .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .search {
  position: relative;
  width: 100%;
}

.home .search input {
  width: 50%;
  padding: 15px 0 15px 48px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}


.home .search i {
  position: absolute;
  top: 12px;
  left: 20px;
  color: var(--dark-gray);
}

.home .filter select {
  background-color: var(--white);
  border: none;
  padding: 15px 15px;
  width: auto;
}

.home .countries {
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
}

.home .countries .container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.home .country {
  cursor: pointer;
  color: var(--very-dark-blue-text);
  text-decoration: none;
  list-style-type: none;
  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  border-radius: 7px;
  padding-bottom: 30px;
  margin:0 15px 50px 15px;
}

.home .country img {
  width: 174px;
  height: 117px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.home .country h2 {
  padding: 10px;
  width: 164px;
}
.home .country h3 {
  width: 164px;
  padding-left: 10px;
}

.country-page {
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

.country-page li {
  list-style-type: none;
}
.country-page a {
  text-decoration: none;
}

.country-page .container {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.country-page .description {
  margin-left: 50px;
  width: 400px;
}

.country-page .container .image-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.country-page .container .back-link {
  margin: 60px 0;
}

.country-page .container .back-link a {
  text-decoration: none;
  color: var(--very-dark-blue-text);
  cursor: pointer;
  padding: 5px 30px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
}

.country-page .container .back-link a i {
  margin-right: 5px;
}

.country-page img {
width: 400px;
}

.country-page .details {
  display: flex;
  margin-top: 20px;
}

.country-page .description h2 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
}

.country-page .borders {
  margin-top: 40px;
}

.country-page .borders span {
  font-size: 14px;
  font-weight: 600;
}

.country-page .borders ul { 
  display: inline;
}

.country-page .borders ul li {
  display: inline-block;
  color: var(--very-dark-blue-text);
  cursor: pointer;
  padding: 3px 15px;
  margin: 5px;
  border: none;
  font-size: 12px;
  font-weight: 300;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
  border-radius: 3px;
}

.country-page .borders ul li a {
  color: var(--very-dark-blue-text);
}

/* Dark Mode */
.header.dark-mode {
  background-color: var(--dark-blue);
  color: var(--white);
}

.home.dark-mode .search-filter {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.home.dark-mode .search {
  position: relative;
  width: 100%;
}

.home.dark-mode .search input {
  background-color: var(--dark-blue);
}

.home.dark-mode .search input::placeholder{
  color: var(--white);;
}

.home.dark-mode .search i {
  color: var(--white);
}

.home.dark-mode .filter select {
  background-color: var(--dark-blue);
  color: var(--dark-gray);
}

.home.dark-mode .countries {
  background-color: var(--very-dark-blue);
}

.home.dark-mode .country {
  color: var(--white);
  background-color: var( --dark-blue);
}

.country-page.dark-mode {
  background-color: var(--very-dark-blue);
  color: var(--very-light-gray);
}

.country-page.dark-mode .container .back-link a {
  color: var(--white);
  background-color: var(--dark-blue);
}

.country-page.dark-mode .borders ul li {
  color: var(--white);
  background-color: var(--dark-blue);
}

.country-page.dark-mode .borders ul li a {
  color: var(--white);
}

/* mobile */
@media only screen and (max-width: 375px) {
  
  .header .container {
    width: 100%;
    padding: 10px 30px;
  }
  
  .header .container h1 {
    font-size: 18px;
  }
  
  .header span {
    font-size: 14px;
  }
  
  .home .search-filter .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .home .filter {
    margin-top: 30px;
  }
  
  .home .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home .search {
    position: relative;
    width: 100%;
  }
  
  .home .search input {
    width: 90%;
  }
  
  .home .countries {
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .home .countries .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home .country img {
    width: 285px;
    height: 190px;
  }
  
  .country-page {
    background-color: var(--white);
    display: flex;
    justify-content: center;
  }

  
  .country-page .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .country-page .description {
    width: 100%;
    margin-left: 0px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  
  .country-page .container .image-description {
    display: flex;
    flex-direction: column;
  }
  
  .country-page .container .back-link {
    margin: 60px 10px;
  }
  
  .country-page .container .back-link a {
    text-decoration: none;
    color: var(--very-dark-blue-text);
    cursor: pointer;
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
  }
  
  .country-page .container .back-link a i {
    margin-right: 5px;
  }
  
  .country-page img {
  width: 100%;
  }
  
  .country-page .details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .country-page .right {
    margin-top: 20px;
  }
  
  .country-page .description h2 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
  }
  
  .country-page .borders {
    margin-top: 40px;
  }
  
  .country-page .borders ul { 
    display: block;
  }
  
  .country-page .borders ul li {
    display: inline-block;
    color: var(--very-dark-blue-text);
    cursor: pointer;
    padding: 3px 15px;
    border: none;
    font-size: 12px;
    font-weight: 300;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
    border-radius: 3px;
  }
  
  .country-page .borders ul li a {
    color: var(--very-dark-blue-text);
  }
}